.card-panel {
  ul li {
    span { display: block; font-weight: 700; }
  }
}
.user-header { text-align: center; padding: 0;
  .action-panel { padding: 1rem; }
  .user-details { padding: 4rem; }
  p { margin: 0; }
  .name { font-size: 2.4rem; font-weight: 700; margin-top: 1rem; }
  .username { font-size: 1.4rem; }
}

.avatar-modal { text-align: center; }
.avatar-modal div { text-align: center;
  button { margin-top: 2rem; }
}
.avatar-field { display: inline-block; width: 10rem; height: 10rem; border-radius: 50%; background: #efefef; color: #fff;
   position: relative; cursor: pointer; background-size: cover; background-repeat: no-repeat;
  background-position: center; transition-duration: .4s;
  i { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 3.2rem;
  opacity: 0; }
  input { visibility: hidden; position: absolute; top: 0; left: 0;}
  .overlay { position: absolute; top: 0; left: 0; opacity: 0; width: 100%; height: 100%;
    background: #ff5722; transition-duration: .4s; border-radius: 50%; }
  &:hover, &.nv-file-over {
    .overlay { opacity: 1; }
    i { opacity: 1; }
  }
}