<div *ngIf="!loaderService.isLoading && user" class="row">
    <div class="col s12">
        <div class="card-panel deep-orange white-text user-header">
            <div class="action-panel deep-orange darken-4 right-align">
                <a href="#" class="btn small grey darken-4 white-text modal-trigger"
                   data-target="avatar-modal">
                    <i class="material-icons small ">edit</i>
                </a>
                <a href="#" class="btn small grey darken-4 white-text">
                    <i class="material-icons small ">mail</i>
                </a>
            </div>
            <div class="user-details">
                <div *ngIf="user.avatar" class="avatar" [ngStyle]="{'background-image': 'url(' + user.avatar + + ')'}"></div>
                <div *ngIf="!user.avatar" class="avatar">
                    <i class="material-icons">person</i>
                </div>
                <p class="name">{{ user.name }}</p>
                <p class="username">@{{ user.username }}</p>
            </div>
        </div>
    </div>
    <div class="col s4">
        <h2>Profile</h2>
        <div class="card-panel first">
            <ul>
                <li>Name: <span class="right">{{ user.name }}</span></li>
                <li>Username: <span class="right">{{ user.username }}</span></li>
                <li>Email: <span class="right">{{ user.email }}</span></li>
                <li>Post amount: <span class="right">{{ user.post_amount }}</span></li>
            </ul>
        </div>
    </div>
    <div class="col s8">
        <h2>Your posts</h2>
        <ng-container *ngFor="let post of posts">
            <div *ngIf="loggedUser === post.creator_id" class="card-panel first own-post">
                <div class="post-details">
                    <div class="author-fullname">{{ post.creator_name }}</div>
                    <p class="teaser">{{ post.content }}</p>
                    <span class="post-date deep-orange-text text-lighten-1">{{ post.post_date  }}</span>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<div *ngIf="loaderService.isLoading" class="row">
    <div class="col s12 center-align">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="avatar-modal" class="modal avatar-modal">
    <div class="modal-header">Choose your new avatar</div>
    <div class="modal-content">
        <div class="row">
            <form enctype="multipart/form-data">
                <div>
                    <label class="avatar-field" *ngIf="user" (fileOver)="fileOverBase($event)" ng2FileDrop
                           [uploader]="uploader" [ngStyle]="{'background-image' : 'url(' + user.avatar + ')'}"
                           [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (onFileDrop)="showDropFilePreview($event)">

                        <input (change)="onAvatarChange($event)" type="file" name="avatar" ng2FileSelect
                               [uploader]="uploader"
                               accept="image/x-png,image/gif,image/jpeg">
                        <div class="overlay"></div>
                        <i class="material-icons">add</i>
                    </label>
                </div>
                <div>
                    <button (click)="onCloseAvatarModal();uploader.uploadAll();" type="submit" class="btn grey darken-4 modal-close">
                        <span>Confirm</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
