@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=latin-ext');

//vars
$deep-orange: #ff5722;

body, body * { font-family: 'Roboto', sans-serif; }

//global
h2 { font-size: 2.2rem; }

//posts
.post-list { padding: 0 0 4.2rem; }
.card-panel { position: relative; margin: 2.4rem 0; letter-spacing: 0.25px; font: { size: 0.9375rem; }
  .btn-floating { margin: 0 .25rem; }
  .post-date { font: { size: 0.875rem; }}
  &.own-post { border-left: 4px solid $deep-orange; }
  &.first { margin-top: 0; }
}
.author-fullname { font: { weight: 700; }  }
.teaser { padding: 0; margin: 1rem 0 0; }
.rate { margin-top: .5rem;
  i { cursor: pointer;
    &.own { cursor: default; }
  }
  span { margin-left: .5rem; }
}

//modals
.modal { text-align: center; padding-top: 2rem;
  .btn { margin: 0 .25rem;
    &:first-child { margin-right: 0; }
  }
  .footer { margin-top: 4.2rem; }
}

//forms
form { margin-top: 2rem; }
.input-field { border-color: $deep-orange;
  textarea, input { border-color: $deep-orange;
    &:focus { border-color: $deep-orange !important; box-shadow: 0 1px 0 0 $deep-orange !important; }
  }
}

.add-post-form { padding: 1rem 2rem 0; }

.dropdown-content li>span, .dropdown-content li>a {
  color: $deep-orange;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom-color: $deep-orange;
}

//loader
.preloader-wrapper {
  .spinner-layer { border-color: $deep-orange; }
  &.big { margin: 4.2rem 0; }
  &.small { margin: 1rem 0; }
}

.text-editor { margin: 2rem 0; border: 1px solid #c9c9c9; }
.toolbar { background: #efefef; padding: 1rem;
  .btn { background: #fff;
    i { color: #222; }
  }
}
.textfield { outline: none;  background: #fff; width: 100%;
  min-height: 8rem; padding: 0 1rem; margin-top: 1rem;
  img { width: 1rem; transform: translateY(.2rem); }
}
.btn.send-message { margin-top: 1rem; }

.avatar { display: inline-block; width: 10rem; height: 10rem; border-radius: 50%; overflow: hidden;
  border: 2px solid #fff; background-color: #efefef; background-position: center; background-size: cover;
  position: relative;
  i { font-size: 6rem; color: #c9c9c9; position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%); }
}