.post-header {

}

.author-avatar, .post-info {
  display: inline-block;
  vertical-align: middle;
}

label input {
  display: none;
}

.files-area {
  margin: 1rem 0;
  border-top: 2px solid #efefef;
  border-bottom: 2px solid #efefef;
  padding: 1rem 0;
  .post-image {
    height: 6rem;
    border: 2px solid #efefef;
  }
}
