<div class="row">
    <div class="input-field col s3">
        <select id="post-order-select"
                [(ngModel)]="orderSelect" name="orderSelect" (change)="order(orderSelect)">
            <option value="post_date">Recent posts</option>
            <option value="rate">Most rated</option>
        </select>
        <label>Order by</label>
    </div>
</div>
<div id="post-list" class="post-list">
    <ng-container *ngIf="!loaderService.isLoading">
        <div *ngFor="let post of postsService.posts" class="card-panel first"
             [ngClass]="{'own-post' :  authService.loggedIn() && post.creator_id === loggedUser}">
            <div class="post-details">
                <div class="post-header">
                    <div class="post-info">
                        <div class="author-fullname grey-text text-darken-3">{{ post.creator_name }}</div>
                        <div class="post-date deep-orange-text">{{ post.post_date | timeago }}</div>
                    </div>
                </div>
                <div class="teaser grey-text text-darken-1" [innerHTML]="post.content"></div>
                <div *ngIf="post.image" class="files-area">
                    <img [src]="post.image" alt="" class="post-image">
                </div>
                <div class="valign-wrapper rate">
                    <ng-container *ngIf="authService.loggedIn() && post.creator_id !== loggedUser">
                        <i *ngIf="!isLiked(post.users_liked)"
                           class="material-icons tiny deep-orange-text text-lighten-4"
                           (click)="ratePost(post._id, loggedUser)">thumb_up</i>
                        <i *ngIf="isLiked(post.users_liked)" class="material-icons tiny deep-orange-text"
                           (click)="revertRate(post._id, loggedUser)">thumb_up</i>
                    </ng-container>
                    <ng-container *ngIf="authService.loggedIn() && post.creator_id === loggedUser">
                        <i class="material-icons tiny deep-orange-text text-lighten-4 own">
                            thumb_up
                        </i>
                    </ng-container>
                    <ng-container *ngIf="!authService.loggedIn()">
                        <i class="material-icons tiny deep-orange-text text-lighten-4 own">
                            thumb_up
                        </i>
                    </ng-container>
                    <span class="grey-text text-darken-3">{{ post.rate }}</span>
                </div>
            </div>
            <ng-container *ngIf="authService.loggedIn() && post.creator_id === loggedUser">
                <a class="btn-floating btn-medium deep-orange darken-3 right"
                   (click)="deletePost(post._id)">
                    <i class="material-icons">delete</i>
                </a>
                <a class="btn-floating btn-medium deep-orange right"
                   (click)="openEditModal(post._id, post.content)">
                    <i class="material-icons">create</i>
                </a>
                <label class="btn-floating btn-medium deep-orange right"
                   (click)="addImage(post._id, post.content)">
                    <input type="file">
                    <i class="material-icons">image</i>
                </label>
            </ng-container>
        </div>
        <div *ngIf="loaderService.isLoadingSmall"
             class="row">
            <div class="col s12 center-align">
                <div class="preloader-wrapper small active">
                    <div class="spinner-layer">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!loaderService.isLoadingSmall && showButton === true" class="row">
            <div class="col s12 center-align">
                <button (click)="loadMore()" class="btn deep-orange">Load more</button>
            </div>
        </div>
    </ng-container>
</div>

<div *ngIf="loaderService.isLoading" class="row">
    <div class="col s12 center-align">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="edit-modal" class="modal">
    <div class="modal-content">
        <form (submit)="onEditModalSubmit()">
            <div class="row">
                <div class="col s12">
                    <div class="input-field deep-orange-text">
                    <textarea id="textarea-edit" [(ngModel)]="contentEdited" name="contentEdited"
                              class="materialize-textarea"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button type="submit" class="btn grey darken-4 right">Confirm editing</button>
                    <a href="#" (click)="editModalInstance.close()" class="btn grey darken-1 right">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

