<ng-container *ngIf="authService.loggedIn()">
    <h2>Add new post</h2>
    <div *text-editor="let scope = scope"
         class="text-editor">
        <div class="toolbar">
            <button (click)="scope.format('bold')" class="btn btn-small bold">
                <i class="material-icons">format_bold</i>
            </button>
            <button (click)="scope.format('italic')" class="btn btn-small italic">
                <i class="material-icons">format_italic</i>
            </button>
            <button (click)="scope.format('underline')" class="btn btn-small underline">
                <i class="material-icons">format_underlined</i>
            </button>
            <a class='dropdown-trigger btn btn-small' href='#' data-target='emots'>
                <i class="material-icons">sentiment_very_satisfied</i>
            </a>
            <ul id="emots" class="dropdown-content">
                <li (click)="scope.format('insertText', false, ':)')">
                    <a href="#!">
                        <i class="material-icons">sentiment_very_satisfied</i>
                    </a>
                </li>
                <li (click)="scope.format('insertText', false, ':(')">
                    <a href="#!">
                        <i class="material-icons">sentiment_dissatisfied</i>
                    </a>
                </li>
                <li (click)="scope.format('insertText', false, ':|')">
                    <a href="#!">
                        <i class="material-icons">sentiment_neutral</i>
                    </a>
                </li>
            </ul>
            <label class="btn btn-small underline">
                <i class="material-icons">image</i>
                <input (change)="scope.addImage($event)" type="file" name="attached-img" class="add-image-input"
                id="add-image-input">
            </label>
        </div>
        <form enctype="multipart/form-data">
            <div class="textfield" contenteditable [innerHTML]="content"></div>
            <div *ngIf="scope.imageLoaded" class="image-gallery">
                <div class="image-preview" [ngStyle]="{'background-image' : 'url(' + scope.addImgPath + ')'}"></div>
            </div>
            <button (click)="onAddPostSubmit()" class="btn right grey darken-4 send-message" type="submit">Send
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</ng-container>
