<div id="modal" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <p>{{ this.confirmationModalService.content }}</p>
            </div>
            <div class="col s12 footer">
                <button (click)="this.confirmationModalService.proceed(callback)" type="submit" class="btn grey darken-4 right">
                    {{ this.confirmationModalService.cta }}
                </button>
                <a href="#" (click)="this.confirmationModalService.closeModal()" class="btn grey darken-1 right">Cancel</a>
            </div>
        </div>
    </div>
</div>