<nav class="deep-orange white-text">
    <i class="material-icons left back">keyboard_backspace</i>
    <div class="nav-wrapper container">
        <div class="row">
            <div class="col s12">
                <a [routerLink]="['/']" class="brand-logo">
                    <h1>Meanchat</h1>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a [routerLink]="['/']"
                           [routerLinkActive]="['white-text', 'deep-orange', 'darken-3']"
                           [routerLinkActiveOptions]="{ exact: true }" class="white-text">
                            <i class="material-icons left">home</i>Home
                        </a>
                    </li>
                    <li *ngIf="authService.loggedIn()">
                        <a  [routerLink]="['/profile']"
                           [routerLinkActive]="['white-text', 'deep-orange', 'darken-3']"
                        class="valign-wrapper">
                            <div *ngIf="avatar" class="avatar"
                                 [ngStyle]="{'background-image': 'url(' + avatar + + ')'}"></div>
                            <div *ngIf="!avatar" class="avatar">
                                <i class="material-icons">person</i>
                            </div>
                            {{ authService.getUserData().username }}
                        </a>
                    </li>
                    <li>
                        <a *ngIf="authService.loggedIn()" (click)="openLogoutModal()">
                            <i class="material-icons left">logout</i>Logout
                        </a>
                    </li>
                    <li>
                        <a *ngIf="!authService.loggedIn()" [routerLink]="['/login']"
                           [routerLinkActive]="['white-text', 'deep-orange', 'darken-3']">
                            <i class="material-icons left">arrow_forward</i>Login
                        </a>
                    </li>
                    <li>
                        <a *ngIf="!authService.loggedIn()" [routerLink]="['/register']"
                           [routerLinkActive]="['white-text', 'deep-orange', 'darken-3']">
                            <i class="material-icons left">arrow_forward</i>Register
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<app-confirmation-modal></app-confirmation-modal>