h1 { font-size: 2.1rem; margin: 0; padding: 0; display: inline; }
.nav-wrapper { padding-left: 1rem; }
nav { position: relative; }
.back { padding-left: 1rem; font-size: 1.8rem; cursor: pointer; position: absolute;
  top: 50%; transform: translateY(-50%); }
.avatar { display: inline-block; width: 2.4rem; height: 2.4rem; border-radius: 50%;
  background-size: cover; background-position: center; border: 2px solid #fff; margin-right: .5rem; }
